.App {
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  min-height: 100%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(249 250 251);
}

.name {
  font-size: calc(6px + 2.5vmin);
  margin-bottom: 2rem;
}

.roadmap {
  position: relative;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.roadmap-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.milestone {
  position: relative;
  width: 172.3px;
  height: 47.3px;
  background-color: rgb(255, 255, 0);
  border-radius: 2px;
  border-color: rgb(0, 0, 0);
  border-width: 2.7px;
  border-style: solid;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}