.App {
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 2rem 0;
  font-size: calc(6px + 1vmin);
  color: white;
}

.dashed-line-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.dashed-line {
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  width: 2px;
  background-image: repeating-linear-gradient(180deg, #61dafb, #61dafb 5px, transparent 5px, transparent 10px);
}

.name {
  font-size: calc(6px + 2.5vmin);
  margin-bottom: 2rem;
}

.roadmap {
  position: relative;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: calc(100% + 3vmin); 
  background-color: #61dafb;
}

.milestone {
  position: relative;
  padding: 2rem;
  background-color: #33363c;
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.milestone:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 4rem;
  background-color: #61dafb; 
}



